@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark body {
  background-color: #111827;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

header nav a.active {
  background-color: #0ea5e9;
}

aside#sidebar-multi-level-sidebar a.active {
  background-color: #f3f4f6;
}

html.dark aside#sidebar-multi-level-sidebar a.active {
  color: #000;
}

aside#sidebar-multi-level-sidebar a.active svg {
  color: #111827;
}

ul#dropdown-example a.active {
  background-color: #f3f4f6;
  color: #111827;
}


html.dark .jodit-toolbar-editor-collection,
html.dark .jodit-popup__content {
  background-color: #374151;
  color: #fff
}
html.dark .jodit-wysiwyg {
  background-color: #111827;
  color: #fff;
}
html.dark .jodit-ui-group span button {
  color: #fff;
}
html.dark .jodit-ui-group span svg,
html.dark .jodit-ui-group span button svg {
  fill: #fff
} 

.anim-bounce {
  animation: bounce 2s ease 1;
}

@keyframes bounce {
	20%, 50%, 80%, 100% {transform: translateY(0);}
  0% {
    transform: translateY(-40px);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
	40% {
    transform: translateY(-20px);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
	60% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}